
/*css rules for smartphone*/
@media only screen and (max-width : 600px) 
{
 /* Style the tab */
	.tab {
		overflow: hidden;
		border: 1px solid #ccc;
		background-color: #f1f1f1;
	}

	/* Style the buttons that are used to open the tab content */
	.tab button {
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		transition: 0.3s;
	}

	/* Change background color of buttons on hover */
	.tab button:hover {
		background-color: #ddd;
	}

	/* Create an active/current tablink class */
	.tab button.active {
		background-color: #ccc;
	}

	/* Style the tab content */
	.tabcontent {
		display: none;
		padding: 6px 12px;
		border: 1px solid #ccc;
		border-top: none;
	} 
	/* Style the font text */
	#ms {
		color:	black;
		font-size:	40px;
		font-family: ;
	}

	#mms
	{
		color: ;
		font-size: ;
		font-family: ;
	}
} 
 
 /* css rules for desktops */
@media only screen and (min-width : 600px)

{
	 /* Style the tab */
	.tab {
		overflow: hidden;
		
		border: solid 1px #E0E0E0;
		border-radius: 10px;
		box-shadow: 0 0 20px rgba(0,0,0,0.15);
	}

	/* Style the buttons that are used to open the tab content */
	.tab button {
		background-color: inherit;
		float: left;
		color: #3b0a4a;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		transition: 0.3s;
		font-size: 20px;
		width: 25%;
		height: 50px;
	}

	/* Change background color of buttons on hover */
	.tab button:hover {
		background-color: #ddd;
	}

	/* Create an active/current tablink class */
	.tab button.active {
		background-color: #ccc;
	}

	/* Style the tab content */
	.tabcontent {
		display: none;
		padding: 6px 12px;
		-webkit-animation: fadeEffect 1s;
		animation: fadeEffect 1s;
	} 
	/* Fade in tabs */
	@-webkit-keyframes fadeEffect {
		from {opacity: 0;}
		to {opacity: 1;}
	}

	@keyframes fadeEffect {
		from {opacity: 0;}
		to {opacity: 1;}
	}
	
	
	/* Style the font text */
	#ms {
		color:	black;
		font-size:	40px;
		font-family: Centaur ;
		text-align: center;
	}

	#mms
	{
		color: ;
		font-size: 18px;
		font-family: Centaur;
		text-align:	justify;
	}
	#bg{
	width:	100%;
	}
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
}


@media screen and (max-width: 500px) {
  .column {
    width: 50%;
    display: block;
  }
  #bg{
	width:	100%;
	}
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

#nm{font-size:	17px;}

